@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 16px;
    background: #A5D6A7;
}

.app-loading-message {
    color: #1B5E20;
    font-size: 20px;
}


